<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hgyw.bookshare">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name="com.hgyw.bookshare.MyApplication"

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".app_activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app_activities.EntityActivity"
            android:label="@string/title_activity_entity"
            android:parentActivityName=".app_activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app_activities.MainActivity" />
        </activity>
        <activity android:name=".app_activities.NewTransactionActivity"/>
        <activity android:name=".app_activities.UserRegistrationActivity"/>
        <activity android:name=".app_activities.UserEditActivity"/>
        <activity android:name=".app_activities.BookEditActivity"/>
        <activity android:name=".app_activities.AllBookReviewListActivity"/>
    </application>

</manifest>